@import './variables/all.scss';

.navbar .navbar-start {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.container {
  @include until($desktop){
    margin: 0 20px;
  }
}

html.small-hidden-overflow {
  @include until($desktop){
    overflow:hidden;
  }
}