.slide.animateIn,
.slide.animateOut {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider {
  height: 15rem;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.slide .subtitle {
  margin-bottom: 0.5rem;
}

.slider a.previousButton {
  left: 0;
}

.slider a.nextButton {
  right: 0
}

.slider svg polygon{
  fill: #FFF;
  transition: opacity 0ms ease;
  transition-delay: 0.3s;
}

.slider .disabled svg polygon{
  opacity: 0;
}