$fullhd-enabled: false;

$macaroon: #dcbe21;
$sky: #2e96d3;
$ash: #8B8E8A;
$cloud: #E4E5E0;
$toxic: #52B06F;
$crimson: #C2463F;
$morning: #FF9237;
$eggplant: #3c4989;

$success: $toxic;
$danger: $crimson;
$warning: $morning;
$dark: $eggplant;

$primary: #2e96d3;
$text: $ash;

$button-focus-box-shadow-size: 0 0 0 0;

$navbar-padding-vertical: 7rem;
$navbar-background-color: transparent;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: #FFF;

$body-background-color: #F6F5EF;


$title-family: 'Barlow', sans-serif, serif;
$title-size: 2rem;
$title-weight: 600;

$radius-small: 0;
$radius: 0;
$radius-large: 0;
$radius-rounded: 0;

$subtitle-family: 'Barlow', sans-serif, serif;
$subtitle-size: 1.5rem;
$subtitle-weight: 300;

$body-family: 'Barlow', sans-serif, serif;

$text: #0A021F;